body{
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: #5cdb95;
}
.container{


}
h1,h2{
  text-align: center;
}
form{
  background-color: #05386b;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0.5em 0.5em 0.7em white;
  margin-left: 30%;
  margin-right: 30%;
}
button{
  background-color: #8ee4af;
}
