body{
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.3em;
  color: white;
  /*background-color: #5cdb95;*/
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: cover;
}
nav a{
  float: right;
  text-decoration: underline;
  color: #05386b;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}
h1,h2{
  text-align: center;
  color: #05386b;
}
hr{
  color: white;
}
form{
  background-color: #05386b;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0.5em 0.5em 0.7em white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0.5em;
}
button{
  background-color: #8ee4af;
  padding: 1em;
  border-radius: 25px;
}
#show{
  color: #8ee4af;
  font-size: 1.5em;
}
input{
  padding: 0.5em;
  width: 6em;
}
.body2{
  background-color: white;
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container2{
  background-color: rgba(142, 228, 175, 0.6);
  color: #05386b;
  padding: 1em;
  text-align: justify;
}
#btn2{
  background-color: #05386b;
  color: white;
  float: right;
  padding: 1.5em;
  margin-top: 1em;
}
#triangles div p{
  float: left;
  padding-right: 3em;
}
img{
  width: 6em;
}
#note{
  text-align: left;
}
@@media only screen and (max-width: 800px) {
  input{
    padding: 0.5em;
    width: 15em;

}
